<div class="shop__sidebar__search">
    <form action="Search" method="get">
        <input type="text" name="str" placeholder="Search...">
        <button type="submit"><span class="icon_search"></span></button>
    </form>
</div>