@{
    Layout = null;
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/UserLoginLogout.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">

        </div>

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Đăng ký</h3>
                            <p class="text-muted mb-4">Chào mừng đến với MAY shop!</p>
                            @using (Html.BeginForm("DangKy", "User"))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="text" name="HoTen" placeholder="Họ và tên" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="tel" name="DienThoai" placeholder="Số điện thoại" required="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="text" name="DiaChi" placeholder="Địa chỉ" required="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" name="Email" placeholder="Email" required="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="date" name="NgaySinh"  required="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="text" name="TenDN" placeholder="Tên đăng nhập" required="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" name="MatKhau" placeholder="Mật khẩu" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" name="MatKhauNL" placeholder="Nhập lại mật khẩu" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Đăng ký</button>

                            }

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
